#cabecalho{
    margin: 0px;
    width: 100%;
    padding: 0px;
    text-align: center;    
}

#cabecalho img{
    width: 750px;        
}

@media screen and (max-width: 750px) {
    #cabecalho img{
        width: 350px;
    }
}