main{
    display: flex;
    flex: 1;    
    background-color: rgb(233,236,239);
    margin-bottom: 10px;
}

.card{            
    margin: auto;        
    margin-top: 15px;
    margin-bottom: 15px;    
    border-radius: 0px;
}

#carouselExampleCaptions,
.carousel-inner{
    border-radius: 0px;
}

#carouselitem{    
    border-radius: 0px;
}

.carousel-item img, 
.carousel-item.active img, 
.card img{    
    text-align: center;
    border-radius: 0px;
    margin: auto;
    width: 100%;
    height: auto;
}