main{
    margin: auto;
    width: 400px;
    height: 400px;
}

.jumbotron{
    padding: 20px;
    margin-top: 20px;
}

#usuario,
#senha{
    float: right;
    width: 275px;
    margin-left: 10px;
}

#btnconectar{        
    margin-left: 110px;
}
#btnnovo{
    margin-left: 10px;
}